header {
background-color: #B60E16;
top: 100;
width: 100%;
padding: 5px;
border-bottom: 5px solid;
border-color: #FFFDFA;
}
#logo {
	height:10px;
	background-color:blue;
}
footer {
background-color: #B60E16;
bottom: 0;
width: 100%;
padding: 1px;
border-top: 5px solid;
border-color: #FFFDFA;
text-align: center;
}

.footerlinks:link {
color: #FFFDFA;
margin-left: 10px;
margin-right: 10px;
text-decoration: none;
font-size: 11px;
}

.footerlinks:hover {
color: #FFFDFA;
font-weight: bold;
text-decoration: underline;
}

body {
background-color: #FFFDFA;
}

#prompt {
margin-bottom: 10px;
padding: 10px;
border: 2px solid;
border-color: #000000;
border-radius: 10px;
}

#chooseVideo {
}

#comment_div {
border: 2px solid;
float: left;
}

#Comment_div {
border: 2px solid;
}
