a#addNewRecording
{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   padding: 4px;
   text-decoration: none;
   font-weight: bold;
   width: 210px;
   display: inline-block;
   text-align: center;
}

a#addNewRecording:hover
{
   background-color: #acea11;
}

a.remove 
{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   margin: 1.5px 0px 1.75px 0px;
   text-decoration: none;
   font-weight: bold;
   width: 80px;
   display: inline-block;
   text-align: center;
}

a.remove:hover
{
    background-color: #acea11;
}

a.editpts
{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   width: 60px;
   display: inline-block;
   text-align: center;
}

a.editpts:hover
{
   background-color: #acea11;
}

td.changers
{
    width: 30px;
}

a.reinstate{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   width: 90px;
   display: inline-block;
   text-align: center;
}

a.reinstate:hover
{
   background-color: #acea11;
}

#nav
{
    text-indent: 1em;
    font-weight: bold;
}

#current
{
    font-weight: bold;
    font-size: 16pt;
}
