
#sign_up {
	position:absolute;
	top:120px;
	width:280px;
	height:280px;
	padding:20px;
	margin:60px;
	margin-left:100px;
	text-align:left;
	font-size:20px;
	border:1px solid #000;
}

#log_in {
	position:absolute;
	top:120px;
	left: 400px;
	width:280px;
	height:280px;
	padding:20px;
	margin:60px;
	margin-left:100px;
	text-align:left;
	font-size:20px;
	border:1px solid #000;
}

.signup_buttons {
	font-size:20px; 
	background-color:#2030A0; 
	color:white;
}

.formDiv p {
	margin:10 10 10 0px;	
}
