header {
background-color: #B60E16;
width: 100%;
padding: 5px;
}

#bodyWrapper {

width: 75%;
margin: auto;

}

#aboutWrapper {
width: 90%;
margin: 2.5% auto;
padding: 2.5%;
border: 2px solid;
}

#logInWrapper {
width: 80%;
margin: 2.5% auto;
padding: 2.5%; 
border: 2px solid;
}

.addedLinks {
float: right;
}

footer {
background-color: #B60E16;
position: relative;
bottom: 0;
width: 100%;
padding: 5px;
}

#footerlinks {
text-align: center;
}