ul
{
	list-style-type: none;
}

#sidemenu a
{
	display:block;
	width:60px;
	text-decoration: none;
	padding: 3px;
	border-color: black;
	border-style: solid;
	border-width: medium;
}

#sidemenu a:hover
{
	background-color: orange;
}
