a#addNewRecording
{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   padding: 4px;
   text-decoration: none;
   font-weight: bold;
   width: 210px;
   display: inline-block;
   text-align: center;
}

a#addNewRecording:hover
{
   background-color: #acea11;
}

a.select
{
   border: solid 2px #aaa;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   width: 85px;
   display: inline-block;
   text-align: center;
}

a.select:hover
{
   background-color: #acea11;
}

td.changers
{
    width: 30px;
}

#nav
{
    text-indent: 1em;
    font-weight: bold;
}

#current
{
    font-weight: bold;
    font-size: 16pt;
}