/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2014, 3:15:45 PM
    Author     : Virginia
*/

#projInfo{
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid;
}
.newsfeedUpdates {
    width: 70%;
    margin: auto;
    padding: 5px;
    border: 2px solid;
}